<div class="filter__bg">
	<div class="filter__modal">
		<div class="filter__inst__container">
			<ul class="filter__instcat">
                         <li><div class="filter__inst__icon--active"><img src="assets/img/mm-icon-1-a.png"></div>
                        <span class="filter__inst__itemname">鋼琴</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-2.png"></div>
                        <span class="filter__inst__itemname">小提琴</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-3.png"></div>
                        <span class="filter__inst__itemname">大提琴</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-4.png"></div>
                        <span class="filter__inst__itemname">長笛</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-5.png"></div>
                        <span class="filter__inst__itemname">色士風</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-6.png"></div>
                        <span class="filter__inst__itemname">古典吉他</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-7.png"></div>
                        <span class="filter__inst__itemname">電子吉他</span></li>
                         <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-2.png"></div>
                        <span class="filter__inst__itemname">小提琴</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-3.png"></div>
                        <span class="filter__inst__itemname">大提琴</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-4.png"></div>
                        <span class="filter__inst__itemname">長笛</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-5.png"></div>
                        <span class="filter__inst__itemname">色士風</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-6.png"></div>
                        <span class="filter__inst__itemname">古典吉他</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-7.png"></div>
                        <span class="filter__inst__itemname">電子吉他</span></li>
                         <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-2.png"></div>
                        <span class="filter__inst__itemname">小提琴</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-3.png"></div>
                        <span class="filter__inst__itemname">大提琴</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-4.png"></div>
                        <span class="filter__inst__itemname">長笛</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-5.png"></div>
                        <span class="filter__inst__itemname">色士風</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-6.png"></div>
                        <span class="filter__inst__itemname">古典吉他</span></li>
                                <li><div class="filter__inst__icon"><img src="assets/img/mm-icon-7.png"></div>
                        <span class="filter__inst__itemname">電子吉他</span></li>
            </ul>
		</div>
		<div class="filter__options__container">
			<div class="grid-x">
				<div class="small-12 cell">
				        <label>上課場地
						  <select>
						    <option value="husker">所有</option>
						  </select>
						</label>
			      </div>
			      <div class="small-12 cell">
				        <label>價錢
						  <select>
						    <option value="husker">所有</option>
						  </select>
						</label>
			      </div>
			      <div class="small-12 cell">
				        <label>級別
						  <select>
						    <option value="husker">所有</option>
						  </select>
						</label>
			      </div>
			       <div class="small-12 cell text-center">
			       		<a href="#">重設所有篩選項目</a>
			       </div>
			</div>
		</div>
		<div class="filter__submit">
			<a href="list-expand.html">搜尋</a>
		</div>
	</div>
</div>