<div class="tutor__join">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <img src="assets/img/tutor-banner.png">
            </div>
        </div>
    </div>
</div>

<footer class="footer">

     <div class="grid-container">
      <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <p class="footer__logo"><a href="#"><img src="assets/img/mm-logo-white.png"></a></p>
                <span class="footer__copy">&copy; MusicMap Ltd. 2018</span>

                <ul class="footer__nav">
                    <li><a href="#">關於我們</a></li>
                    <li><a href="#">如何運作</a></li>
                    <li><a href="#">聯繫我們</a></li>
                    <li><a href="#">服務條款及私隱聲明</a></li>
                </ul> 
            </div>
            <div class="cell small-6">
                <div class="footer__share">
                    <span class="i"></span>
                    <span class="f"></span>
                    <span class="t"></span>
                    <span class="m"></span>
                    <span class="l"></span>
                </div>
            </div>
        </div>
    </div>

</footer>