<header class="header">

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-10">
    	<a href="sidemenu.html"><span class="header__sidemenu"></span></a>
        <a href="#" class="header__logo"><img src="assets/img/mm-logo.png"></a>
    </div>
    <div class="cell small-2">
    	<ul class="header__nav">
            <li><a href="#" class="header__lang">EN</a></li>
        </ul>
    </div>
  </div>
  <div class="grid-x grid-margin-x">

     <div class="cell small-12">
         <a href="list-expand.html" class="header__currnav" style="background-image: url('assets/img/mm-icon-1-a.png');">鋼琴 - 尋找導師</a>
     </div>

  </div>


  

</div>
</header>

