<div class="sidemenu__container">

<div class="sidemenu__wrap">


	<div class="sidemenu">
		<a href="list.html"><span class="close"></span></a>

		<ul class="sidemenu__nav">
			<li><a href="list.html">尋找導師</a></li>
			<li><a href="#">尋找練習室</a></li>
			<li><a href="#">活動/工作坊</a></li>
			<li><a href="records.html">我的預約記錄</a></li>
			<li><a href="#">更改賬戶資料</a></li>
			<li><a href="#">關於Musicmap</a></li>
			<li><a href="#">意見查詢</a></li>
			<li><a href="#">Q&amp;A</a></li>
		</ul>
	</div>

	<div class="sidemenu__acc">
		<div class="sidemenu__user">
			<span class="sidemenu__usericon"></span> John Doe
		</div>

		<div class="sidemenu__logout">
			<a href="index.html">登出</a>
		</div>
	</div>

	<div class="sidemenu__fade">
	</div>

</div>

	

</div>